<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>draft</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<select id="ddlViewBy">
    <option value="0">So luong:</option>
    <option value="1">1/2</option>
    <option value="2">1</option>
    <option value="3">1.5</option>
    <option value="4">2</option>
    <option value="4">2.5</option>
    <option value="4">3</option>
</select>
<p id="choose">
    hello
</p>

<button id="but" onclick="click()" >
    done
</button>

<script>
    var e = document.getElementById("ddlViewBy");
    var strUser = e.options[e.selectedIndex].text;
    var conceptName = $('#ddlViewBy').find(":selected").text();

    function click() {
        document.getElementById("choose").innerHTML = "hang";
    }

    // document.getElementById("but").addEventListener("click", function(){
    //     document.getElementById("choose").innerHTML = $('#ddlViewBy').find(":selected").text();
    // });

    // $(document).ready(function () {
    //     $("#but").click(function () {
    //         alert("selecting: " +  $('#ddlViewBy').find(":selected").text())
    //     })
    // })

    // $(document).ready(function () {
    //     $("#but").click(function () {
    //         $("#choose").innerText = $('#ddlViewBy').find(":selected").text()
    //     })
    // })


</script>

</body>
</html>