<!DOCTYPE html>
<html>
<title>food</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"  href="/style.css"/>
<style>
    .w3-lobster {
        font-family: "Lobster", serif;
    }
    .w3-tangerine {
        font-family: "Tangerine", serif;
    }

    .nav_hang{
        background-image: url("/images/nav_bk.jpg");
    }
    .input-container{
        display: flex;
        width: 30%;
    }

</style>
<body>

<!--Navigator-->
<div class="w3-top">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Đóng &times;</button>
        <a href="http://localhost:8080/search" class="w3-bar-item w3-button w3-yellow">Search food's nutrition</a>
        <a href="http://localhost:8080/requiresignin" class="w3-bar-item w3-button w3-khaki">Calories quantity</a>
        <a href="http://localhost:8080/requiresignin" class="w3-bar-item w3-button w3-orange">Calories Consumption </a>

    </div>

    <div class="w3-teal" >
        <button class="w3-button w3-teal w3-xlarge w3-right " onclick="openRightMenu()">&#9776;</button>
        <div class="w3-container nav_hang w3-wide  ">
            <h1 class="w3-tangerine" style="font-weight: bolder">Calories Control</h1>
            <h2 class="w3-tangerine" style="font-weight: bolder">Refresh your life</h2>
        </div>
    </div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>

<!--Presentation -->

<div class="w3-container w3-teal ">
    <h1 class="w3-lobster "> Xem lượng calories trong thực phẩm</h1>
</div>

<div class="w3-container">
    <p> <br> </p>
</div>

<!--Search field-->
<form class="w3-container">
    <h2>Nhập tên thức ăn </h2>
    <div class="input-container">
        <input class="w3-input w3-animate-input" type="text"
               id="foodName" placeholder="Bánh bao" style="width:140px"/>
    </div>
    <br>
</form>

<div class="w3-container">
    <button type="button" class="w3-button w3-teal w3-round-xxlarge" onclick="searchFunction()">
        Tìm kiếm
    </button>
</div>
<br><br>


<!--Search result-->
<div class="w3-container w3-responsive">
    <table class="w3-table w3-striped w3-table-all w3-hoverable">
        <tr>
            <th>Tên thức ăn</th>
            <th>Số lượng</th>
            <th>Calo</th>
            <th>Đạm</th>
            <th>Béo</th>
            <th>Bột đường</th>
            <th>Xơ</th>
        </tr>
        <tr th:each="food:${foodList}">
            <td th:text="${food.getTen()}">Jill</td>
            <td th:text="${food.getSoLuong()}" >Smith</td>
            <td th:text="${food.getCalo()}" >50</td>
            <td th:text="${food.getDam()}" >Hawaii</td>
            <td th:text="${food.getBeo()}" >val</td>
            <td th:text="${food.getBotDuong()}" >val</td>
            <td th:text="${food.getXo()}" >val</td>
        </tr>
    </table>
</div>
<br>
<!--Footer-->
<div class="w3-container w3-teal">
    <h5>FARFALLE</h5>
    <p>Phần mềm quản lý calories online - K62 CACLC 1 - UET - VNU</p>
</div>



<script>
    function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }

    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }

    function searchFunction() {
        var x = document.getElementById("foodName").value;
        window.location.href = "http://localhost:8080/infor/" + x ;
    }

</script>


</body>
</html>