<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<!--
                        in ra tất cả các thuộc tính của window
<HEAD>
    <TITLE>For in Example </TITLE>
    <SCRIPT LANGUAGE= "JavaScript">
        document.write("The properties of the Window  object are: <BR>");
        for (var x in window)
            document.write("     "+ x + ", ");
    </SCRIPT>
</HEAD>-->

<!--<BODY> This text is plain.<BR> <B>
    <SCRIPT LANGUAGE="JavaScript">
        &lt;!&ndash; HIDE FROM OTHER BROWSERS
        document.write("This text is bold.</B>");
        // STOP HIDING FROM OTHER BROWSERS &ndash;&gt;
    </SCRIPT>
</BODY>-->

<!--                                    ALERT EXAMPLE

<body>
<button onclick="myFunction()">Try it</button>
<script>
    function myFunction() {
        alert("Hello! I am an alert box!");
    }
</script>
</body>-->

<!--                                PROMPT EXAMPLE
prompt tạo ra một hộp hội thoại với một dòng thông báo do bạn đưa vào, nhưng ngoài ra nó còn cung cấp một trường để nhập dữ liệu vào
<body>
<button onclick="myFunction()">Try it</button>
<p id="demo"></p>
<script>
    function myFunction() {
        var person = prompt("Please enter your name", "Harry Potter");
        if (person != null) {
            document.getElementById("demo").innerHTML =
                "Hello " + person + "! How are you today?";
        }
    }
</script>
</body>-->



</html>