<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:background="http://www.w3.org/1999/xhtml">

<head>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <style>
        h2 {
            font-size: 40px;
            color: white;
        }
        a {
            text-decoration: none;
            color: #1ab188;
            transition: .5s ease;
        }
        a:hover {
            color: #179b77;
        }
        body {
            background-image: url("images/login.jpg");
            /*background-color: #179b77;*/
            font-family: 'Titillium Web', sans-serif;
        }
    </style>
</head>

<div class="w3-container w3-display-middle" style=" background: rgba(19, 35, 47, 0.9); ">

    <h2 th:text="|Trước tiên, bạn cần điền thông tin vào trang Calories consumption|">

    </h2>

    <a th:href="|/${userSession.email}/caloriesquantity|">
        <button class="w3-button" style="font-size: 18px;" >
            Đi đến: Calories consumption
        </button>
    </a>
</div>

<script>

</script>

</html>